/* stylelint-disable selector-list-comma-newline-after */


/* -------- COMMON -----------*/
section {
    padding-top: 50px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


/* ----- PAGE HEADER ------- */
.blog-header {
  line-height: ;
  border-bottom: 2px solid darkblue;
}

.blog-header-logo {
  /* font-family: "Playfair Display", Georgia, "Times New Roman", serif; */
  font-family: "PT Sans", Georgia, "Times New Roman", serif;
  text-transform: uppercase;
  color: grey;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
  color: grey;
}

/* --------- FONT ------------ */

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
}

h2:after {
    display: block;
    height: 2px;
    background-color: darkblue;
    /* background-color: #e67e22; */
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h1 h3, h4, h5, h6 {
  /* font-family: "Playfair Display", Georgia, "Times New Roman", serif; */
  font-family: "PT Sans", Georgia, "Times New Roman", serif;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
  font-size: 120%;
  word-spacing: 2px;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ---------- SALES SECTION --------------*/
.section-feature {
    background-color: #f4f4f4;
}

/* --------- SECTION KIDS AND BABIES -------*/
.section-kids {
    background-color: #f4f4f4;
}

/* ---------- SERVICES SECTION -----------*/
.services .col-lg-4 {
  margin-bottom: 1rem;
  text-align: center;
}
.services h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
.services .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.services p {
  margin-bottom: 2rem;
}

/* ------------- GALLERY SECTION --------- */

.gallery-divider {
  margin: 1rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.gallery-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

/* .ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus, */
.ion-icon {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-icon:hover {
    color: #3b5998;
}

/* .ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
} */




footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}




.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #708090;
  /* background-color: #f9f9f9; */
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* ----------- SALES TAG -----------*/

.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 50px;
  color: white;
  line-height: 500px;
  text-align: center;
  background: orange;
}

.sale {
	position: relative;
	display: inline-block;
	background: orange;
	color: white;
  border-radius: 50px;
	height: 4.5rem;
	width: 4.5rem;
	text-align: center;
	vertical-align: middle;
	line-height: 4.5rem;
	margin: 10px -50px;
	transform: rotate(-20deg);
	animation: beat 1s ease infinite alternate;
	&:before,
	&:after {
		content:"";
		position: absolute;
		background: inherit;
		height: inherit;
		width: inherit;
		top: 0;
		left: 0;
		z-index: -1;
		transform: rotate(30deg);
	}
	&:after {
		transform: rotate(60deg);
	}
}

@keyframes beat {
	from {	transform: rotate(-20deg) scale(1); }
	to {	transform: rotate(-20deg) scale(1.1); }
}

/* ------- CORNER RIBBON GREEN -----------------------*/

.wrapper {
  margin: 30px auto;
  width: 250px;
  height: 300px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.wrapper:hover {
  text-decoration: none;
}

.wrapper h5 {
  margin-top: 10px;
  color: grey;
  text-decoration: none;
}

.wrapper h5:hover {
  text-decoration: none;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

/* -------------------- RIBBON RED ---------------------*/
.ribbon-wrapper-red {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}
.ribbon-red {
  font: bold 15px Sans-Serif;
  color: #000;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #FF0000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#FF4D4D));
  background-image: -webkit-linear-gradient(top, #FF0000, #FF4D4D);
  background-image:    -moz-linear-gradient(top, #FF0000, #FF4D4D);
  background-image:     -ms-linear-gradient(top, #FF0000, #FF4D4D);
  background-image:      -o-linear-gradient(top, #FF0000, #FF4D4D);
  /* color: #6a6340; */
  color: #000;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-red:before, .ribbon-red:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-red:before {
  left: 0;
}
.ribbon-red:after {
  right: 0;
}
