{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/slide2.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>

  <!------------ FEATURE START -------------------->

  <section class = "section section-feature">
    <h2>Featured and Sale</h2>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <p class="text-center long-copy">A variety of single framed unique prints as well as frame sets at special pricing.</p>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row">
      {% for print in sale_prints %}
      <div class="col-md-3">
        <div class="wrapper">
          <div class="ribbon-wrapper-red"><div class="ribbon-red">SALE</div></div>
          <img src="{{ print.image_tn.url }}" alt="..." class="img-thumbnail">
          <span class="sale">R {{ print.discounted_price }}</span>
          <h5 class = "text-center"> {{ print.name }}</h5>
        </div>
        <div class="btn-group text-center" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-sm btn-outline-secondary">Buy Me &raquo;</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Add Me &raquo;</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

<!------------ SERVICES START -------------------->

  <section class = "section services">
    <h2>Profesional &mdash; Services</h2>
    <div class="row">
      <div class="col-lg-4">
        <img src="{% static 'images/design.jpg' %}" width="140" height="140" class="bd-placeholder-img rounded-circle" alt="">
        <h3>Design</h3>
        <p>A LOGO IS THE PERSONALITY OF YOUR BUSINESS </p>
        <p><a class="btn btn-sm btn-outline-secondary" href="#" role="button">View more &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{% static 'images/print.jpg' %}" width="140" height="140" class="bd-placeholder-img rounded-circle" alt="">
        <h3>Print</h3>
        <p>REDESIGN YOUR LITTLE ONES BEDROOM WITH CUSTOM PRINTS </p>
        <p><a class="btn btn-sm btn-outline-secondary" href="#" role="button">View more &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{% static 'images/photo.jpg' %}" width="140" height="140" class="bd-placeholder-img rounded-circle" alt="">
        <h3>Photography</h3>
        <p>PHOTOS ARE MEMORIES THAT LAST A LIFETIME </p>
        <p><a class="btn btn-sm btn-outline-secondary" href="#" role="button">View more &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </section>

  <!------------ KIDS & BABY START -------------------->

  <section class=" section section-kids">
    <h2>Shop &mdash; Kids & Baby</h2>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <p class="text-center long-copy">A selection of high quality beutiful prints for babies and childeren.</p>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row">
      {% for kids_print in kids_prints %}
      <div class="col-lg-3">
        <div class="wrapper">
          <img src="{{ kids_print.image_tn.url }}" alt="..." class="img-thumbnail">
          <span class="sale">{{ kids_print.discounted_price }}</span>
          <h5 class = "text-center"> {{ kids_print.name }}</h5>
        </div>
        <div class="btn-group text-center" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-sm btn-outline-secondary">Buy Me &raquo;</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Add Me &raquo;</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <!------------ GALLERY START -------------------->

  <section class=" section section-galery">
    <h2>Gallery</h2>
    {% for gallery_print in gallery_prints %}
    {% if not gallery_print.print_right %}
    <div class="row featurette">
      <div class="col-md-7">
        <h3 class="galley-heading">{{ gallery_print.name }} <br> <span class="text-muted">{{ gallery_print.sub_title }}</span></h3>
        <p class="lead">{{ gallery_print.description }}</p>
      </div>
      <div class="col-md-5">
        <img class = "img-thumbnail" src="{{ gallery_print.image_tn.url }}" height = "400px" width="400px" alt="Gallery">
      </div>
    </div>
    <hr class="gallery-divider">
    {% else %}
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h3 class="gallery-heading">{{ gallery_print.name }}<br><span class="text-muted">{{ gallery_print.sub_title }}</span></h3>
        <p class="lead">{{ gallery_print.description }}</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class = "img-thumbnail" src="{{ gallery_print.image_tn.url }}" height = "400px" width="400px" alt="Gallery">
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </section>
  {% endblock %}
